@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.default-v2.min.css" />

<script src="https://kendo.cdn.telerik.com/2020.2.617/js/jquery.min.js"></script>


<script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
<div class="main">
    <div class="container">
        <div class="row">

            <div class="mr-auto p-4 " style="margin-left:50px;">


                @using (Html.BeginForm("Tablo", "Tablo", FormMethod.Post))
                {


                    <label style="width:75px;"> İlk Tarih:</label>

                    <input id="IlkTarih" type="datetime" name="IlkTarih" value="Ilk Tarihi Giriniz">
                    <br />
                    <label style="width:75px;"> Son Tarih:</label>
                    <input id="SonTarih" type="datetime" name="SonTarih" value="Son tarihi Giriniz">
                    <br />
                    <select name="FabrikaAdi" id="FabrikaAdi" style="height:38px;">
                        @*<option>Ankara</option>*@
                        <option>Burdur</option>
                        <option>Ereğli</option>
                        <option>Malatya</option>
                        <option>Susurluk</option>
                        <option>Yozgat</option>

                    </select>
                    <button class="btn btn-primary" type="submit" id="buton">Sorgula</button>


                }
            </div>
        </div>
    </div>
    <div id="example">
        <div id="grid"></div>
        <script>
            $(document).ready(function () {
                $("#grid").kendoGrid({
                    dataSource: {
                        batch: true,
                        //type: "odata-v4",
                        //transport: {
                        //    read: {
                        //        url: "/odata/Kullanicis",
                        //        dataType: "json"
                                 
                        //    }
                        //},
                        type: "odata",
                        transport: {
                            read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                        },
                        pageSize: 20
                    },
                    height: 550,
                    groupable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [
                        {
                            field: "ID",
                            title: "id"
                        }
                        , {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }, {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }, {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }, {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }, {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }, {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }, {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }
                        , {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }, {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }, {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }, {
                            field: "CompanyName",
                            title: "Company Name"
                        }, {
                            field: "Country",
                            width: 150
                        }

                    ]
                });
            });
        </script>
    </div>


    @*<script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>*@


    @*<script>
            $.datetimepicker.setLocale('tr');
            $("#SonTarih").datetimepicker({

                dateFormat: "mm-dd-yy",
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: jQuery('#IlkTarih').val() ? jQuery('#IlkTarih').val() : false
                    })
                },

            });

            $("#IlkTarih").datetimepicker({

                dateFormat: "mm-dd-yy",
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: jQuery('#SonTarih').val() ? jQuery('#SonTarih').val() : false
                    })
                },

            });


        </script>*@



    <style type="text/css">
        .customer-photo {
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-size: 32px 35px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 5px;
        }

        .customer-name {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
            padding-left: 3px;
        }
    </style>
    @*<div class="container">
            <div class="table-responsive " id="no-more-tables" style="margin-bottom:100px; position:relative;">
                <table class="col-md-12 table-bordered table-striped table-condensed table-hover cf ">
                    <thead style="background-color:#47D147" class="text-white">
                        <tr>
                            <th class="fabrikaAdi">Fabrika Adı</th>
                            <th class="numeric">Rafineriden Beklenen Şeker</th>
                            <th class="numeric">Ham Fabrikadan Beklenen Şeker</th>
                            <th class="numeric">Toplam Beklenen Şeker</th>
                            <th class="numeric">Çuvallama Kantarından Bugün Çıkan Şeker(kg)</th>
                            <th class="numeric">Çuvallama Kantarından Dün Çıkan Şeker(kg)</th>
                            <th class="numeric">Kıyım Kantarı 1 Anlık Değeri(saat/ton)</th>
                            <th class="numeric">Kıyım Kantarı 2 Anlık Değeri(saat/ton)</th>
                            <th class="numeric">Kıyım Kantarı 3 Anlık Değeri(saat/ton)</th>
                            <th class="numeric">Toplam Bugün Kesilen Pancar</th>
                            <th class="numeric">Toplam Dün Kesilen Pancar</th>
                            <th class="numeric">Kıyım Polü</th>
                            <th class="numeric">Toplam Pancar</th>
                            <th class="numeric">Bugün Gelen Pancar</th>
                            <th class="numeric">Kantardaki Pancar</th>
                            <th class="numeric">Tarih </th>
                        </tr>


                    </thead>
                    <tbody>


                        <tr>
                            <td data-title="Fabrika Adı" class="fabrikaAdi " style="background:#FFFFFF;">Burdur</td>
                            <td data-title="Raf. Bek." class="numeric">123254</td>
                            <td data-title="Ham. Bek." class="numeric">45613</td>
                            <td data-title="Top. Bek.">45613</td>
                            <td data-title="Bgn Çık Şek.">45613</td>
                            <td data-title="Dün Çık Şek.">45613</td>
                            <td data-title="Kıyım 1 ">45613</td>
                            <td data-title="Kıyım 2">45613</td>
                            <td data-title="Kıyım 3">45613 </td>
                            <td data-title="Bugün Kes.Pan.">45613</td>
                            <td data-title="Dün Kes. Pan.">45613</td>
                            <td data-title="Kıyım Polü">45613</td>
                            <td data-title="Toplam Pancar">45613</td>
                            <td data-title="Bugün Gelen Pan.">45613</td>
                            <td data-title="Kantardaki Pan.">45613</td>
                            <td data-title="Tarih ">45613</td>



                        </tr>


                        <tr>
                            <td data-title="Fabrika Adı" class="fabrikaAdi " style="background:#ECECEC;">Ereğli</td>
                            <td data-title="Raf. Bek." class="numeric">123254</td>
                            <td data-title="Ham. Bek." class="numeric">45613</td>
                            <td data-title="Top. Bek.">45613</td>
                            <td data-title="Bgn Çık Şek.">45613</td>
                            <td data-title="Dün Çık Şek.">45613</td>
                            <td data-title="Kıyım 1 ">45613</td>
                            <td data-title="Kıyım 2">45613</td>
                            <td data-title="Kıyım 3">45613 </td>
                            <td data-title="Bugün Kes.Pan.">45613</td>
                            <td data-title="Dün Kes. Pan.">45613</td>
                            <td data-title="Kıyım Polü">45613</td>
                            <td data-title="Toplam Pancar">45613</td>
                            <td data-title="Bugün Gelen Pan.">45613</td>
                            <td data-title="Kantardaki Pan.">45613</td>
                            <td data-title="Tarih ">45613</td>
                        </tr>

                        <tr>
                            <td data-title="Fabrika Adı" class="fabrikaAdi " style="background:#FFFFFF;">Malatya</td>
                            <td data-title="Raf. Bek." class="numeric">123254</td>
                            <td data-title="Ham. Bek." class="numeric">45613</td>
                            <td data-title="Top. Bek.">45613</td>
                            <td data-title="Bgn Çık Şek.">45613</td>
                            <td data-title="Dün Çık Şek.">45613</td>
                            <td data-title="Kıyım 1 ">45613</td>
                            <td data-title="Kıyım 2">45613</td>
                            <td data-title="Kıyım 3">45613 </td>
                            <td data-title="Bugün Kes.Pan.">45613</td>
                            <td data-title="Dün Kes. Pan.">45613</td>
                            <td data-title="Kıyım Polü">45613</td>
                            <td data-title="Toplam Pancar">45613</td>
                            <td data-title="Bugün Gelen Pan.">45613</td>
                            <td data-title="Kantardaki Pan.">45613</td>
                            <td data-title="Tarih ">45613</td>
                        </tr>











                        <tr>
                            <td data-title="Fabrika Adı" class="fabrikaAdi" style="background:#ECECEC;">Susurluk</td>
                            <td data-title="Raf. Bek." class="numeric">123254</td>
                            <td data-title="Ham. Bek." class="numeric">45613</td>
                            <td data-title="Top. Bek.">45613</td>
                            <td data-title="Bgn Çık Şek.">45613</td>
                            <td data-title="Dün Çık Şek.">45613</td>
                            <td data-title="Kıyım 1 ">45613</td>
                            <td data-title="Kıyım 2">45613</td>
                            <td data-title="Kıyım 3">45613 </td>
                            <td data-title="Bugün Kes.Pan.">45613</td>
                            <td data-title="Dün Kes. Pan.">45613</td>
                            <td data-title="Kıyım Polü">45613</td>
                            <td data-title="Toplam Pancar">45613</td>
                            <td data-title="Bugün Gelen Pan.">45613</td>
                            <td data-title="Kantardaki Pan.">45613</td>
                            <td data-title="Tarih ">45613</td>
                        </tr>

                        <tr>
                            <td data-title="Fabrika Adı" class="fabrikaAdi" style="background:#FFFFFF;">Yozgat</td>
                            <td data-title="Raf. Bek." class="numeric">123254</td>
                            <td data-title="Ham. Bek." class="numeric">45613</td>
                            <td data-title="Top. Bek.">45613</td>
                            <td data-title="Bgn Çık Şek.">45613</td>
                            <td data-title="Dün Çık Şek.">45613</td>
                            <td data-title="Kıyım 1 ">45613</td>
                            <td data-title="Kıyım 2">45613</td>
                            <td data-title="Kıyım 3">45613 </td>
                            <td data-title="Bugün Kes.Pan.">45613</td>
                            <td data-title="Dün Kes. Pan.">45613</td>
                            <td data-title="Kıyım Polü">45613</td>
                            <td data-title="Toplam Pancar">45613</td>
                            <td data-title="Bugün Gelen Pan.">45613</td>
                            <td data-title="Kantardaki Pan.">45613</td>
                            <td data-title="Tarih ">45613</td>
                        </tr>









                    </tbody>



                </table>
            </div>



        </div>*@


</div>

